.imgPreview {
    width: 50px;
    margin-left: 50%;
}


.tableClass {
    max-height: 300px !important;
    overflow: hidden;
    width: 97vw;

}

.tbodyClass {
    height: 255px;
}

.tableClassTotal {
    max-height: 80vh !important;
    overflow: hidden;
    width: 97vw;

}

.tableClass>table {
    margin-bottom: 20px;
}

.headerTable>td {
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.actionList {
    text-align: center;
    color: #362be2;
}

.actionList>.edit {
    margin-right: 30px;

}

table {
    border-spacing: 0;
    display: flex;

    max-height: 80vh !important;

    overflow-y: auto;

    overflow-x: hidden;

    table-layout: fixed;

    border: 2px solid #80808073;

}

thead {

    position: fixed !important;
    background: white;
    /*el thead va ser siempre estatico**/
}

tbody {
    margin-top: 40px !important;
}

th {
    border-bottom: 1px solid #80808073;
    border-right: 1px solid #80808073;
}

th,
td {
    font-weight: normal;
    margin: 0;
    max-width: 18.5vw;

    min-width: 18.1vw;

    word-wrap: break-word;

    height: 3.5vh !important;
    padding: 4px;
    border-right: 1px solid #80808073;

}

tr>td {
    border-bottom: 1px solid #80808073;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
}



@media (min-width: 1381px) {
    .paddingAction {
        padding: 10px 0px 10px 0px !important;
    }
}

@media (min-width: 1500px) {
    .paddingAction {
        padding: 10px !important;
    }
}

@media (max-width: 1380px) {
    .paddingAction {
        padding: 0px !important;
    }
}