.panel {
    width: 96vw;
    border: 2px solid #80808073;
    height: 300px;
    padding: 10px;
    margin-top: 30px;

}

.button {

    color: white;
    border-radius: 4px;
    padding: 0px 8px 8px 6px;
    border: 0px;
    margin-right: 10px;
}

.buttonActive {
    background-color: #362be2;
}

.buttonInactive {
    background-color: #362be21f;

}

.inputForm {
    padding: 8px;
    width: 200px;
    border-radius: 4px;
}

.inputValid {

    border: solid 1px #808080cf;
}

.inputInvalid {
    border: solid 1px #b20a0acf;
}

.centerText {
    text-align: center;
    margin: 30px 0px;
}

.inputText {}

.rangeBtn {}

li {
    display: inline-block;


}

.rangePanelBtn {
    display: inline-block;
    float: right;
}

.rangeBtnAttack>input {
    width: 180px;
    margin-left: 10px;
    margin-bottom: 40px;


}

.rangeBtn>input {
    width: 180px;


}

.action {
    width: 100%;
    margin-top: 40px;
    margin-left: 50%;
}



.action>button>span {

    font-size: 20px;
    position: relative;
    top: 5px;

}

.nameInput {
    margin-bottom: 30px;

}

.imgInput>input {
    margin-left: 5px;
}

.errorMessage {
    color: red;
    margin-left: 70px;
}