.new {
    background-color: #362be2;
    color: white;
    border-radius: 4px;
    float: right;
    padding: 0px 8px 8px 6px;
    border: 0px;
    margin-right: 20px;
}

.new>span {
    font-size: 20px;
    position: relative;
    top: 5px;
}

.search {
    padding: 8px;
    width: 200px;
    border: 2px solid #80808073;
    border-radius: 4px;

}

.searchPanel {
    padding: 10px 0px 20px 0px;
}

.searchIcon {
    position: relative;
    left: -210px;
    top: 9px;
    color: #0000008a;
}

.searchText {
    position: relative;
    left: -205px;
    top: 3px;
    color: #0000008a;
}