body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
  overflow: hidden;
}

.margin-0 {
  margin: 0px;
}

.padding-0 {
  padding: 0px !important;
}

label {
  font-weight: 500;
}

button {
  font-weight: 600;
}

.pointer {
  cursor: pointer;
}